In [2]:
import tabula
import camelot

In [3]:
from tabulate import tabulate
from tabula import read_pdf

### THE NEW INDIA

In [48]:
df=tabula.read_pdf(r"D:/PC_NIAPOLICYSCHEDULECIRTIFICATEPC_44093124 (2).pdf", pages='1', guess= True, pandas_options={'header':None})
df

Got stderr: Dec 16, 2021 3:40:46 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 16, 2021 3:40:48 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT
Dec 16, 2021 3:40:49 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 16, 2021 3:40:49 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT

[                                             0  \
 0          Policy Number :36150031200300009347
 1                       POLICY ISSUING OFFICE:
 2                  PATIALA D.O. - II (361500),
 3  PATIALA D.O. - II (361500) , OPP.INCOME TAX
 4             OFFICE , LEELA BHAWAN, PATIALA ,
 5                             PUNJAB , 147001.
 6                         PHONE NUMBER:2223587
 7                      FAX NUMBER:2304830 / NA
 8              Email:nia.361500@newindia.co.in

                                            1  \
 0                                        NaN
 1                BUSINESS CHANNEL/CPSC User:
 2                                      NAME:
 3  Global-India Insurance Brokers Pvt. Ltd -
 4                              (BR00000234),
 5              PHONE NUMBER: /  / 2220880555
 6                          LAND/FAX NUMBER:/
 7                    EMAIL:info@glib.co.in /
 8                                        NaN

                                            2
 0                                        NaN
 1                             CLAIM CONTACT:
 2                 PATIALA D.O. - II (361500)
 3  PATIALA D.O. - II (361500),OPP.INCOME TAX
 4     OFFICE,LEELA BHAWAN, PATIALA;2223587//
 5        CUSTOMER CARE NUMBER: 1800-209-1415
 6                                        NaN
 7                                        NaN
 8                                        NaN  ,
                  0                                              1  \
 0  INSURED DETAILS                                            NaN
 1     Insured Name                PUNJAB INDUSTRIAL WORKS PVT LTD
 2              NaN                                            NaN
 3  Insured Address  A 3 PUNJAB AND WORKS PVT LTD,PHASE 1 IND AREA
 4              NaN                   SAS NAGAR SAS NAGAR 140604,,
 5              NaN                         MOHALI ,PUNJAB, 140604
 6              NaN                                            NaN
 7              NaN                                            NaN
 8              NaN                                            NaN

                 2                       3
 0             NaN                     NaN
 1     Customer ID      PO87365596 (PAN No
 2             NaN            :ADVPS6502K)
 3  Contact Number         /  / 7973660415
 4             NaN                     NaN
 5             NaN                     NaN
 6           Email  HEMANT.HASIJA@GIIB.CO.
 7             NaN                      IN
 8           GSTIN                      NA  ,
                   0                                                  1  \
 0    POLICY DETAILS                                                NaN
 1   Period of cover  11/02/2021 05:11:49 PM to 10/02/2022  11:59:59 PM
 2               NaN                                                NaN
 3  Previous Insurer                                      Not available

                         2                       3
 0                     NaN                     NaN
 1          Receipt Number  10000089200200260540 -
 2                     NaN                11/02/21
 3  Previous Policy Number                      NM  ,
                              0               1                            2  \
 0              VEHICLE DETAILS             NaN                          NaN
 1          Registration Number    PB-73-A-0009    Chassis no./Engine Number
 2                 Make / Model  FORD/ENDEAVOUR                     Variant:
 3          Year of manufacture            2019  Type of body / Type of Fuel
 4                       Colour   DIAMOND WHITE           Cubic capacity(cc)
 5                          NaN             NaN                /Wattage(kW):
 6   Seating capacity including               7         Name of registration
 7                       Driver             NaN                    authority
 8     Geographical Area / Zone           India        Name of the Financier
 9     Cover Note No/Cover Note               /       Automobile Association
 10                 Issue Date:             NaN                   membership

                     3
 0                 NaN
 1         64976/64976
 2                 NaN
 3   Hatch-Back/Diesel
 4              3198cc
 5                 NaN
 6              PUNJAB
 7                 NaN
 8                 NaN
 9                none
 10                NaN  ,
                                 0             1               2            3  \
 0  INSURED DECLARED VALUE (in Rs)           NaN             NaN          NaN
 1                 Vehicle Trailer  Non-Elec Acc  Electrical Acc  Bi-fuel kit
 2                       2500000 0             0               0            0

              4
 0          NaN
 1  Total Value
 2      2500000  ,
                            0            1                          2  \
 0          Cover Description  Cover Opted          Cover Description
 1  Additional Towing Charges           No    Engine Protection Cover
 2  No Claim Bonus Protection           No     Loss of Contents Cover
 3                      Cover          NaN                        NaN
 4        High Value PA Cover           No  Personal Belongings Cover
 5           Nil Depreciation          Yes                        NaN

              3                        4            5
 0  Cover Opted        Cover Description  Cover Opted
 1           No  Return to Invoice Cover           No
 2           No                 Road Tax           No
 3          NaN                      NaN          NaN
 4           No   Consumable Items Cover           No
 5          NaN                      NaN          NaN  ,
                                                   0   1         2  \
 0                               SCHEDULE OF PREMIUM NaN       NaN
 1                                        Own Damage NaN       NaN
 2                                  Basic OD Premium NaN  16715.00
 3  (-)(#)Calculated Discount for Anti-Theft Devices NaN    417.88
 4             (+)Premium for nil depreciation cover NaN  17500.00

                                                3          4       5
 0                                            NaN        NaN     NaN
 1                                            NaN  Liability     NaN
 2                               Basic TP Premium        NaN  7890.0
 3  (+)Legal Liability Premium for Paid Driver(0)        NaN    50.0
 4                                            NaN        NaN     NaN  ]

In [49]:
df=df[0].append([df[1],df[2],df[3]])
df

,0,1,2,3
0,Policy Number :36150031200300009347,NaN,NaN,NaN
1,POLICY ISSUING OFFICE:,BUSINESS CHANNEL/CPSC User:,CLAIM CONTACT:,NaN
2,"PATIALA D.O. - II (361500),",NAME:,PATIALA D.O. - II (361500),NaN
3,"PATIALA D.O. - II (361500) , OPP.INCOME TAX",Global-India Insurance Brokers Pvt. Ltd -,"PATIALA D.O. - II (361500),OPP.INCOME TAX",NaN
4,"OFFICE , LEELA BHAWAN, PATIALA ,","(BR00000234),","OFFICE,LEELA BHAWAN, PATIALA;2223587//",NaN
5,"PUNJAB , 147001.",PHONE NUMBER: / / 2220880555,CUSTOMER CARE NUMBER: 1800-209-1415,NaN
6,PHONE NUMBER:2223587,LAND/FAX NUMBER:/,NaN,NaN
7,FAX NUMBER:2304830 / NA,EMAIL:info@glib.co.in /,NaN,NaN
8,Email:nia.361500@newindia.co.in,NaN,NaN,NaN
0,INSURED DETAILS,NaN,NaN,NaN
1,Insured Name,PUNJAB INDUSTRIAL WORKS PVT LTD,Customer ID,PO87365596 (PAN No
2,NaN,NaN,NaN,:ADVPS6502K)
3,Insured Address,"A 3 PUNJAB AND WORKS PVT LTD,PHASE 1 IND AREA",Contact Number,/ / 7973660415
4,NaN,"SAS NAGAR SAS NAGAR 140604,,",NaN,NaN
5,NaN,"MOHALI ,PUNJAB, 140604",NaN,NaN
6,NaN,NaN,Email,HEMANT.HASIJA@GIIB.CO.
7,NaN,NaN,NaN,IN
8,NaN,NaN,GSTIN,NA
0,POLICY DETAILS,NaN,NaN,NaN
1,Period of cover,11/02/2021 05:11:49 PM to 10/02/2022 11:59:59 PM,Receipt Number,10000089200200260540 -
2,NaN,NaN,NaN,11/02/21
3,Previous Insurer,Not available,Previous Policy Number,NM
0,VEHICLE DETAILS,NaN,NaN,NaN
1,Registration Number,PB-73-A-0009,Chassis no./Engine Number,64976/64976
2,Make / Model,FORD/ENDEAVOUR,Variant:,NaN
3,Year of manufacture,2019,Type of body / Type of Fuel,Hatch-Back/Diesel
4,Colour,DIAMOND WHITE,Cubic capacity(cc),3198cc
5,NaN,NaN,/Wattage(kW):,NaN
6,Seating capacity including,7,Name of registration,PUNJAB
7,Driver,NaN,authority,NaN
8,Geographical Area / Zone,India,Name of the Financier,NaN
9,Cover Note No/Cover Note,/,Automobile Association,none
10,Issue Date:,NaN,membership,NaN

In [84]:
df1=df
df1.columns =['col1', 'col2','col3','col4']
INSURED_NAME = df1.loc[df1['col1']=="Insured Name","col2"]
INSURED_ADDRESS = df1.loc[df1['col1']=="Insured Address","col2"]
CUSTOMER_ID = df1.loc[df1['col3']=="Customer ID","col4"]
POLICY_ISSUED_ON = df1.loc[df1['col1']=="Period of cover","col2"]
make = df1.loc[df1['col1']=="Make / Model","col2"]
COLOUR= df1.loc[df1['col1']=="Colour","col2"]
BODY_TYPE= df1.loc[df1['col3']=="Type of body / Type of Fuel","col4"]
ENGINE_NO = df1.loc[df1['col3']=="Chassis no./Engine Number","col4"]
REGISTRATION_NO=df1.loc[df1['col1']=="Registration Number","col2"]
CUBIC_CAPACITY = df1.loc[df1['col3']=="Cubic capacity(cc)","col4"]
SEATING_CAPACITY = df1.loc[df1['col1']=="Seating capacity including","col2"]
MFG_YEAR = df1.loc[df1['col1']=="Year of manufacture","col2"]

In [85]:
print("Insured Name",INSURED_NAME.to_string())
print("Insured Address",INSURED_ADDRESS.to_string())
print("Customer ID", CUSTOMER_ID.to_string())
print("Period of cover",POLICY_ISSUED_ON.to_string())
print("Make / Model",make.to_string())
print("Colour",COLOUR.to_string())
print("Type of body / Type of Fuel",BODY_TYPE.to_string())
print("Registration Number",REGISTRATION_NO.to_string())
print("MFG. YEAR", MFG_YEAR.to_string())
print("Chassis no./Engine Number", ENGINE_NO.to_string())
print("REGISTRATION NO",REGISTRATION_NO.to_string())
print("Cubic capacity(cc)", CUBIC_CAPACITY.to_string())
print("Seating capacity including",SEATING_CAPACITY.to_string())
print("Year of manufacture",MFG_YEAR.to_string())

Insured Name 1    PUNJAB INDUSTRIAL WORKS PVT LTD
Insured Address 3    A 3 PUNJAB AND WORKS PVT LTD,PHASE 1 IND AREA
Customer ID 1    PO87365596 (PAN No
Period of cover 1    11/02/2021 05:11:49 PM to 10/02/2022  11:59:59 PM
Make / Model 2    FORD/ENDEAVOUR
Colour 4    DIAMOND WHITE
Type of body / Type of Fuel 3    Hatch-Back/Diesel
Registration Number 1    PB-73-A-0009
MFG. YEAR 3    2019
Chassis no./Engine Number 1    64976/64976
REGISTRATION NO 1    PB-73-A-0009
Cubic capacity(cc) 4    3198cc
Seating capacity including 6    7
Year of manufacture 3    2019

### PDF MODEL

In [ ]:
from flask import Flask, render_template, request
from werkzeug.utils import secure_filename
import pandas as pd
import tabula
from flask import jsonify
app = Flask(__name__,template_folder='template')

@app.route('/')
def upload_file():
   return render_template('test.html')
	
@app.route('/uploader', methods = ['GET', 'POST'])
def upload_file1():
   if request.method == 'POST':
      f = request.files['file']
      # f.save(secure_filename(f.filename))
      
      company_name = "THE NEW INDIA ASSURANCE CO. LTD." 
      
      
      if company_name == "CHOLAMANDALUM" :
            df=tabula.read_pdf(f, pages='2',lattice= True,  pandas_options={'header':None})
            df1=df[0]
            df1.columns =['col1', 'col2','col3','col4','col5','col6']
            df1['col7'] = df1['col1'].shift(-1)
            df1['col8'] = df1['col2'].shift(-1)
            df1['col9'] = df1['col6'].shift(-1)
            df1['col10'] = df1['col4'].shift(-1)
            df1['col11'] = df1['col3'].shift(-1)
      
           # df1=df[0]
            # df1.columns =['col1', 'col2','col3','col4', 'col5','col6','col7','col8','col9','col10']
            INSURED_NAME = df1.loc[df1['col1']=="INSURED NAME","col2"].to_string()
            INSURED_ADDRESS = df1.loc[df1['col1']=="INSURED ADDRESS","col2"].to_string()
            POLICY_NUMBER = df1.loc[df1['col1']=="POLICY NUMBER","col2"].to_string()
            POLICY_ISSUED_ON = df1.loc[df1['col1']=="POLICY ISSUED ON","col2"].to_string()
            PERIOD_OF_INSURANCE = df1.loc[df1['col3']=="PERIOD OF INSURANCE","col4"].to_string()
            PRODUCT_NAME = df1.loc[df1['col1']=="PRODUCT NAME","col2"].to_string()
            make = df1.loc[df1['col1']=="MAKE","col7"].to_string()
            model = df1.loc[df1['col2']=="MODEL","col8"].to_string()
            varient= df1.loc[df1['col3']=="VARIANT","col11"].to_string()
            BODY_TYPE= df1.loc[df1['col1']=="BODY TYPE","col7"].to_string()
            ENGINE_NO = df1.loc[df1['col6']=="ENGINE NO","col9"].to_string()
            CHASSIS_NO = df1.loc[df1['col6']=="CHASSIS NO","col9"].to_string()
            CUBIC_CAPACITY = df1.loc[df1['col1']=="CUBIC CAPACITY","col4"].to_string()
            REGISTRATION_NO=df1.loc[df1['col4']=="REGISTRATION NO","col10"].to_string()
            CUBIC_CAPACITY = df1.loc[df1['col4']=="CUBIC CAPACITY","col10"].to_string()
            SEATING_CAPACITY = df1.loc[df1['col6']=="SEATING CAPACITY","col9"].to_string()
            MFG_YEAR = df1.loc[df1['col1']=="MFG. YEAR","col7"].to_string()
            
            Previous_Policy_No ="11    XXXXXXXXXXX"
            previous_insurer = "15    XXXXXXXX"
            RTO_City ="10    XXXXXXXX"
            CURRENT_YEAR_NCB="9    XXXXXXX"
            Previous_Year_NCB="9    XXXXXXX"
    

        
      elif company_name == "ICICI":
        df=tabula.read_pdf(f,guess= True,  pandas_options={'header':None})
        df[0]
        df1=df[0]
        df1.columns =['col1', 'col2']
                
        df1=df[0]
        df1.columns =['id', 'value']  
        INSURED_NAME= df1.loc[df1['id']=="Name of Insured","value"].to_string()
        PERIOD_OF_INSURANCE = df1.loc[df1['id']=="Period of Insurance", "value"].to_string()
        previous_insurer = df1.loc[df1['id']=="Previous Insurer Name", "value"].to_string()
        RTO_City = df1.loc[df1['id']=="RTO City", "value"].to_string()
        Previous_Policy_No = df1.loc[df1['id']=="Previous Policy No.", "value"].to_string()
        ENGINE_NO= df1.loc[df1['id']=="Engine No.", "value"].to_string()
        CHASSIS_NO = df1.loc[df1['id']=="Chassis No.", "value"].to_string()
        REGISTRATION_NO = df1.loc[df1['id']=="Vehicle Registration No.", "value"].to_string()
        CURRENT_YEAR_NCB=df1.loc[df1['id']=="Current Year NCB(%)", "value"].to_string()
        POLICY_NUMBER="0    XXXXXXX"
        POLICY_ISSUED_ON="1    XXXXXXX"
        INSURED_ADDRESS="7    XXXXXX"
        PRODUCT_NAME="9    XXXXXXX"
        make="10    XXXXXXXX"
        model="11    XXXXXXX"
        BODY_TYPE="12    XXXXXXX"
        MFG_YEAR="13    XXXXXX"
        SEATING_CAPACITY="10    XXXXXX"
        CUBIC_CAPACITY="11    XXXXXX"
        varient="9    XXXXXX"
        
        
      elif company_name == "THE NEW INDIA ASSURANCE CO. LTD.":
        df=tabula.read_pdf(r"D:/PC_NIAPOLICYSCHEDULECIRTIFICATEPC_44093124 (2).pdf", pages='1', guess= True, pandas_options={'header':None})
        df=df[0].append([df[1],df[2],df[3]])
        df1=df
        df1.columns =['col1', 'col2','col3','col4']
        INSURED_NAME = df1.loc[df1['col1']=="Insured Name","col2"].to_string()
        INSURED_ADDRESS = df1.loc[df1['col1']=="Insured Address","col2"].to_string()
        CUSTOMER_ID = df1.loc[df1['col3']=="Customer ID","col4"].to_string()
        POLICY_ISSUED_ON = df1.loc[df1['col1']=="Period of cover","col2"].to_string()
        make = df1.loc[df1['col1']=="Make / Model","col2"].to_string()
        COLOUR= df1.loc[df1['col1']=="Colour","col2"].to_string()
        BODY_TYPE= df1.loc[df1['col3']=="Type of body / Type of Fuel","col4"].to_string()
        ENGINE_NO = df1.loc[df1['col3']=="Chassis no./Engine Number","col4"].to_string()
        REGISTRATION_NO=df1.loc[df1['col1']=="Registration Number","col2"].to_string()
        CUBIC_CAPACITY = df1.loc[df1['col3']=="Cubic capacity(cc)","col4"].to_string()
        SEATING_CAPACITY = df1.loc[df1['col1']=="Seating capacity including","col2"].to_string()
        MFG_YEAR = df1.loc[df1['col1']=="Year of manufacture","col2"].to_string()
        
        POLICY_NUMBER="0    XXXXXXX"
        POLICY_ISSUED_ON="1    XXXXXXX"
        varient="9    XXXXXX"
        PERIOD_OF_INSURANCE="5    XXXX"
        PRODUCT_NAME="9    XXXXXXX"
        CHASSIS_NO="9    XXXXX"
        model="9    XXXXX"
        Previous_Policy_No ="11    XXXXXXXXXXX"
        previous_insurer = "15    XXXXXXXX"
        RTO_City ="10    XXXXXXXX"
        CURRENT_YEAR_NCB="9    XXXXXXX"
        Previous_Year_NCB="9    XXXXXXX"
        
      else:
        pass
      data= {
        "PolicyDetails":{
        "PolicyNumber":POLICY_NUMBER.rsplit('    ')[1],
        "PeriodOfInsurance":PERIOD_OF_INSURANCE.rsplit('    ')[1],
        "Policyissuedon":POLICY_ISSUED_ON.rsplit('    ')[1],
        "Proposalnodate":"",
        "PeriodOfOdInsuranceTenure1":"",
        "InsuredDeclaredValueTenure1":"",
        "InsuredName":INSURED_NAME.rsplit('    ')[1],
        "GstinNumber":"",
        "ContactPersonName":"",
        "PreviousPolicyNumber":Previous_Policy_No.rsplit('    ')[1],
        "PreviousInsurerName":previous_insurer.rsplit('    ')[1],
        "InsuredAddress":"",
        "RegisteredOfficeOfInsurer":"",
        "Address":INSURED_ADDRESS.rsplit('    ')[1],
        "ProductName":PRODUCT_NAME.rsplit('    ')[1]
         },
        "VehicleDetails":{
        "Make":make.rsplit('    ')[1],
        "Model":model.rsplit('    ')[1],
        "Variant":varient.rsplit('    ')[1],
        "CubicCapacity":CUBIC_CAPACITY.rsplit('    ')[1],
        "Color":"",
        "SeatingCapacity":SEATING_CAPACITY.rsplit('    ')[1],
        "BodyType":BODY_TYPE.rsplit('    ')[1],
        "RegistrationDate":"",
        "Rto":"",
        "RtoLocation":RTO_City.rsplit('    ')[1],
        "RegistrationNo":REGISTRATION_NO.rsplit('    ')[1],
        "FuelType":"",
        "ChassisNo":CHASSIS_NO.rsplit('    ')[1],
        "ElecAccessories":"",
        "NonElecAccs":"",
        "Cng":"",
        "CarrierType":"",
        "CngLpgKit":"",
        "EngineNo":ENGINE_NO.rsplit('    ')[1],
        "Mfg.Year":MFG_YEAR.rsplit('    ')[1],
        "VehicleIdv":"",
        "HypothecationLeaseHp":"",
        "Gvw":""
        },
        "BasicPremium":{
        "BasicOwnDamage":"",
        "NonElecAccessories":"",
        "Imt23LoadingPremium":"",
        "Imt34LoadingPremium":"",
        "ElecAccessories":"",
        "CngLpgKit":"",
        "GeographicalExtension":"",
        "SubTotalBasicPremium":""
        },
        "Deductibles":{
        "AntitheftDiscount":"",
        "AaMembershipDiscount":"",
        "NoClaimBonus":"",
        "SubTotalDeductibles":"",
        "NetOdPermium":"",
        "NetOdPremiumGst":"",
        "NetOdPremiumWithGst":""
        },
        "Addons":{
           "ZeroDepreciation":"",
           "ReturnToInvoice":""
        },
        "LiabilityPremium":{
        "BasicThirdPartyLiability":"",
        "Imt34TpPremium":"",
        "ThirdPartyLiabilityForBiFuelKit":"",
        "BasicTpCngTpTrailorTp":"",
        "BasicTpCngTpTrailorTpGst":"",
        "PaCoverOwnerDriver":"",
        "PaCoverForUnnamedPersons":"",
        "LegalLiabilityPaidDriver":"",
        "PaCoverCleanerConductorCoolie":"",
        "GeographicalAreasExtension":"",
        "TpOther":"",
        "TpOtherWithGst":"",
        "TotalTpPremium":"",
        "TotalTpPremiumWith":"",
        "TotalPremium":"",
        "TotalPremiumPayable":""   
        }
    }
        

      return jsonify({"PDF_DATA":data})	
        
      

      
      
      
      # d1= pd.DataFrame.from_dict(d)
      #return str(d)
		
if __name__ == '__main__':
   app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Dec/2021 12:40:54] "GET / HTTP/1.1" 200 -
Got stderr: Dec 09, 2021 12:41:18 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:41:20 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT
Dec 09, 2021 12:41:21 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:41:21 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT

127.0.0.1 - - [09/Dec/2021 12:41:22] "POST /uploader HTTP/1.1" 200 -
Got stderr: Dec 09, 2021 12:46:28 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:46:30 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT
Dec 09, 2021 12:46:31 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:46:31 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT

127.0.0.1 - - [09/Dec/2021 12:46:33] "POST /uploader HTTP/1.1" 200 -

###  ICICI

In [3]:
df=tabula.read_pdf(r"D:/3001_196271464_00_000.pdf", pages='2', lattice= True, pandas_options={'header':None})
df

[                                                   0
 0  Insured Name:\rN K SHARMA\rAddress:\rFLAT NO F...,
                                                    0
 0  Servicing Branch Address:\rTower D, Twelth Glo...,
                   0             1                                2  \
 0  Registration No.          Make                            Model
 1        RJ14CU0877      MERCEDES                        E 220 CDI
 2  Vehicle IDV\r(`)  Trailer\r(`)  Non Electrical\rAccessories (`)
 3           1645000             0                                0

                                           3                    4  \
 0                              Type of Body                CC/KW
 1                                    Saloon                 2143
 2  Electrical / Electronic Accessories\r(`)  CNG / LPG Unit\r(`)
 3                                         0                    0

                 5                  6            7               8
 0          Mfg Yr  Seating\rCapacity  Chassis No.      Engine No.
 1            2012                  5     26L02297  65192430847414
 2  Total IDV\r(`)                NaN          NaN             NaN
 3         1645000                NaN          NaN             NaN  ,
                                                    0  \
 0                                    Premium Details
 1                                      OWN DAMAGE(A)
 2  Basic OD Premium\rSub Total\rLess:\rNo Claim B...
 3                        Total Package Premium(A+B):
 4                                               IGST
 5                                                  `
 6                             Total Tax Payable in `
 7                         Total Premium Payable In `

                                    1  \
 0                                NaN
 1                                (`)
 2  20209\r20209\r\r4042\r4042\r16167
 3                              24432
 4                                  %
 5                            4397.76
 6                               4398
 7                              28830

                                                    2  \
 0                                                NaN
 1                                       LIABILITY(B)
 2  Basic Third Party Liability\rTotal\rAdd:\rLega...
 3                                                NaN
 4                                                 18
 5                                                NaN
 6                                                NaN
 7                                                NaN

                                   3
 0                               NaN
 1                               (`)
 2  7890\r7890\r\r50\r325\r375\r8265
 3                               NaN
 4                               NaN
 5                               NaN
 6                               NaN
 7                               NaN  ,
                                0                                1
 0       Geographical Area: India  Applicable IMT Clauses: 28 , 22
 1  Compulsory Deductible: ` 2000        Voluntary Deductible: ` 0,
                         0                1               2  \
 0  Premium Collection No.       1110986468  Premium Amount
 1            GSTIN Reg.No  06AAACI7904G1ZR    HSN/SAC code

                                    3             4           5
 0                            ` 28830  Receipt Date  11-03-2020
 1  9971 / GENERAL INSURANCE SERVICES           NaN         NaN  ,
                                                    0
 0  LimitsofLiability:(a) Under Section II-I(i) of...]

In [55]:
df1=df[2]
df1.columns =['col1', 'col2','col3','col4', 'col5','col6','col7','col8','col9']

In [56]:
df1['col10'] = df1['col1'].shift(-1)
df1['col11'] = df1['col2'].shift(-1)
df1['col12'] = df1['col3'].shift(-1)
df1['col13'] = df1['col4'].shift(-1)
df1['col14'] = df1['col5'].shift(-1)
df1['col15'] = df1['col6'].shift(-1)
df1['col16'] = df1['col7'].shift(-1)
df1['col17'] = df1['col8'].shift(-1)
df1['col18'] = df1['col9'].shift(-1)

In [57]:
df1

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16,col17,col18
0,Registration No.,Make,Model,Type of Body,CC/KW,Mfg Yr,Seating\rCapacity,Chassis No.,Engine No.,RJ14CU0877,MERCEDES,E 220 CDI,Saloon,2143,2012,5,26L02297,65192430847414
1,RJ14CU0877,MERCEDES,E 220 CDI,Saloon,2143,2012,5,26L02297,65192430847414,Vehicle IDV\r(`),Trailer\r(`),Non Electrical\rAccessories (`),Electrical / Electronic Accessories\r(`),CNG / LPG Unit\r(`),Total IDV\r(`),NaN,NaN,NaN
2,Vehicle IDV\r(`),Trailer\r(`),Non Electrical\rAccessories (`),Electrical / Electronic Accessories\r(`),CNG / LPG Unit\r(`),Total IDV\r(`),NaN,NaN,NaN,1645000,0,0,0,0,1645000,NaN,NaN,NaN
3,1645000,0,0,0,0,1645000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
make = df1.loc[df1['col2']=="Make","col11"].to_string()
model = df1.loc[df1['col3']=="Model","col12"].to_string()
BODY_TYPE= df1.loc[df1['col4']=="Type of Body","col13"].to_string()
ENGINE_NO = df1.loc[df1['col9']=="Engine No.","col18"].to_string()
CHASSIS_NO = df1.loc[df1['col8']=="Chassis No.","col17"].to_string()
CUBIC_CAPACITY = df1.loc[df1['col5']=="CC/KW","col14"].to_string()
REGISTRATION_NO=df1.loc[df1['col1']=="Registration No.","col10"].to_string()
SEATING_CAPACITY = df1.loc[df1['col7']=="Seating\rCapacity","col16"].to_string()
MFG_YEAR = df1.loc[df1['col6']=="Mfg Yr","col15"].to_string()

In [60]:
print("Make",make)
print("Model",model)
print("Type of Body",BODY_TYPE)
print("MFG. YEAR", MFG_YEAR)
print("Engine No.", ENGINE_NO)
print("Chassis No.",CHASSIS_NO)
print("Registration No.",REGISTRATION_NO)
print("CC/KW", CUBIC_CAPACITY)
print("Seating\rCapacity",SEATING_CAPACITY)
print("Mfg Yr",MFG_YEAR)

Make 0    MERCEDES
Model 0    E 220 CDI
Type of Body 0    Saloon
MFG. YEAR 0    2012
Engine No. 0    65192430847414
Chassis No. 0    26L02297
Registration No. 0    RJ14CU0877
CC/KW 0    2143
Capacity 0    5
Mfg Yr 0    2012

In [ ]:
from flask import Flask, render_template, request
from werkzeug.utils import secure_filename
import pandas as pd
import tabula
from flask import jsonify
app = Flask(__name__,template_folder='template')

@app.route('/')
def upload_file():
   return render_template('test.html')
	
@app.route('/uploader', methods = ['GET', 'POST'])
def upload_file1():
   if request.method == 'POST':
      f = request.files['file']
      # f.save(secure_filename(f.filename))
      
      company_name = "THE NEW INDIA ASSURANCE CO. LTD." 
      
      
      if company_name == "CHOLAMANDALUM" :
            df=tabula.read_pdf(f, pages='2',lattice= True,  pandas_options={'header':None})
            df1=df[0]
            df1.columns =['col1', 'col2','col3','col4','col5','col6']
            df1['col7'] = df1['col1'].shift(-1)
            df1['col8'] = df1['col2'].shift(-1)
            df1['col9'] = df1['col6'].shift(-1)
            df1['col10'] = df1['col4'].shift(-1)
      
           # df1=df[0]
            # df1.columns =['col1', 'col2','col3','col4', 'col5','col6','col7','col8','col9','col10']
            INSURED_NAME = df1.loc[df1['col1']=="INSURED NAME","col2"].to_string()
            INSURED_ADDRESS = df1.loc[df1['col1']=="INSURED ADDRESS","col2"].to_string()
            POLICY_NUMBER = df1.loc[df1['col1']=="POLICY NUMBER","col2"].to_string()
            POLICY_ISSUED_ON = df1.loc[df1['col1']=="POLICY ISSUED ON","col2"].to_string()
            PERIOD_OF_INSURANCE = df1.loc[df1['col3']=="PERIOD OF INSURANCE","col4"].to_string()
            PRODUCT_NAME = df1.loc[df1['col1']=="PRODUCT NAME","col2"].to_string()
            make = df1.loc[df1['col1']=="MAKE","col7"].to_string()
            model = df1.loc[df1['col2']=="MODEL","col8"].to_string()
            varient= df1.loc[df1['col3']=="VARIANT","col11"].to_string()
            BODY_TYPE= df1.loc[df1['col1']=="BODY TYPE","col7"].to_string()
            ENGINE_NO = df1.loc[df1['col6']=="ENGINE NO","col9"].to_string()
            CHASSIS_NO = df1.loc[df1['col6']=="CHASSIS NO","col9"].to_string()
            CUBIC_CAPACITY = df1.loc[df1['col1']=="CUBIC CAPACITY","col4"].to_string()
            REGISTRATION_NO=df1.loc[df1['col4']=="REGISTRATION NO","col10"].to_string()
            CUBIC_CAPACITY = df1.loc[df1['col4']=="CUBIC CAPACITY","col10"].to_string()
            SEATING_CAPACITY = df1.loc[df1['col6']=="SEATING CAPACITY","col9"].to_string()
            MFG_YEAR = df1.loc[df1['col1']=="MFG. YEAR","col7"].to_string()
            
            Previous_Policy_No ="11    XXXXXXXXXXX"
            previous_insurer = "15    XXXXXXXX"
            RTO_City ="10    XXXXXXXX"
            CURRENT_YEAR_NCB="9    XXXXXXX"
            Previous_Year_NCB="9    XXXXXXX"
            COLOUR="4    XXXXX"
            

        
      elif company_name == "ICICI":
        df3=tabula.read_pdf(f, pages='2',lattice= True,  pandas_options={'header':None})
        df3[2]
        df2=df3[2]
        df2.columns =['col1', 'col2','col3','col4', 'col5','col6','col7','col8','col9']
        df2['col10'] = df2['col1'].shift(-1)
        df2['col11'] = df2['col2'].shift(-1)
        df2['col12'] = df2['col3'].shift(-1)
        df2['col13'] = df2['col4'].shift(-1)
        df2['col14'] = df2['col5'].shift(-1)
        df2['col15'] = df2['col6'].shift(-1)
        df2['col16'] = df2['col7'].shift(-1)
        df2['col17'] = df2['col8'].shift(-1)
        df2['col18'] = df2['col9'].shift(-1)
        make = df2.loc[df2['col2']=="Make","col11"].to_string()
        model = df2.loc[df2['col3']=="Model","col12"].to_string()
        BODY_TYPE= df2.loc[df2['col4']=="Type of Body","col13"].to_string()
        ENGINE_NO = df2.loc[df2['col9']=="Engine No.","col18"].to_string()
        CHASSIS_NO = df2.loc[df2['col8']=="Chassis No.","col17"].to_string()
        CUBIC_CAPACITY = df2.loc[df2['col5']=="CC/KW","col14"].to_string()
        REGISTRATION_NO=df2.loc[df2['col1']=="Registration No.","col10"].to_string()
        SEATING_CAPACITY = df2.loc[df2['col7']=="Seating\rCapacity","col16"].to_string()
        MFG_YEAR = df2.loc[df2['col6']=="Mfg Yr","col15"].to_string()
        
        
        POLICY_NUMBER="0    XXXXXXX"
        POLICY_ISSUED_ON="1    XXXXXXX"
        INSURED_ADDRESS="7    XXXXXX"
        PERIOD_OF_INSURANCE="5    XXXX"
        INSURED_NAME="2    XXXX"
        PRODUCT_NAME="9    XXXXXXX"
        varient="9    XXXXXX"
        COLOUR="4    XXXXX"
        
        
        
      elif company_name == "THE NEW INDIA ASSURANCE CO. LTD.":
        df=tabula.read_pdf(r"D:/PC_NIAPOLICYSCHEDULECIRTIFICATEPC_44093124 (2).pdf", pages='1', guess= True, pandas_options={'header':None})
        df=df[0].append([df[1],df[2],df[3]])
        df1=df
        df1.columns =['col1', 'col2','col3','col4']
        INSURED_NAME = df1.loc[df1['col1']=="Insured Name","col2"].to_string()
        INSURED_ADDRESS = df1.loc[df1['col1']=="Insured Address","col2"].to_string()
        CUSTOMER_ID = df1.loc[df1['col3']=="Customer ID","col4"].to_string()
        POLICY_ISSUED_ON = df1.loc[df1['col1']=="Period of cover","col2"].to_string()
        make = df1.loc[df1['col1']=="Make / Model","col2"].to_string()
        COLOUR= df1.loc[df1['col1']=="Colour","col2"].to_string()
        BODY_TYPE= df1.loc[df1['col3']=="Type of body / Type of Fuel","col4"].to_string()
        ENGINE_NO = df1.loc[df1['col3']=="Chassis no./Engine Number","col4"].to_string()
        REGISTRATION_NO=df1.loc[df1['col1']=="Registration Number","col2"].to_string()
        CUBIC_CAPACITY = df1.loc[df1['col3']=="Cubic capacity(cc)","col4"].to_string()
        SEATING_CAPACITY = df1.loc[df1['col1']=="Seating capacity including","col2"].to_string()
        MFG_YEAR = df1.loc[df1['col1']=="Year of manufacture","col2"].to_string()
        
        POLICY_NUMBER="0    XXXXXXX"
        POLICY_ISSUED_ON="1    XXXXXXX"
        varient="9    XXXXXX"
        PERIOD_OF_INSURANCE="5    XXXX"
        PRODUCT_NAME="9    XXXXXXX"
        CHASSIS_NO="9    XXXXX"
        model="9    XXXXX"
        
      else:
        pass
      data= {
        "PolicyDetails":{
        "PolicyNumber":POLICY_NUMBER.rsplit('    ')[1],
        "PeriodOfInsurance":PERIOD_OF_INSURANCE.rsplit('    ')[1],
        "Policyissuedon":POLICY_ISSUED_ON.rsplit('    ')[1],
        "Proposalnodate":"",
        "PeriodOfOdInsuranceTenure1":"",
        "InsuredDeclaredValueTenure1":"",
        "InsuredName":INSURED_NAME.rsplit('    ')[1],
        "GstinNumber":"",
        "ContactPersonName":"",
        "PreviousPolicyNumber":"",
        "PreviousInsurerName":"",
        "InsuredAddress":"",
        "RegisteredOfficeOfInsurer":"",
        "Address":INSURED_ADDRESS.rsplit('    ')[1],
        "ProductName":PRODUCT_NAME.rsplit('    ')[1]
         },
        "VehicleDetails":{
        "Make":make.rsplit('    ')[1],
        "Model":model.rsplit('    ')[1],
        "Variant":varient.rsplit('    ')[1],
        "CubicCapacity":CUBIC_CAPACITY.rsplit('    ')[1],
        "Color":COLOUR.rsplit('    ')[1],
        "SeatingCapacity":SEATING_CAPACITY.rsplit('    ')[1],
        "BodyType":BODY_TYPE.rsplit('    ')[1],
        "RegistrationDate":"",
        "Rto":"",
        "RtoLocation":"",
        "RegistrationNo":REGISTRATION_NO.rsplit('    ')[1],
        "FuelType":"",
        "ChassisNo":CHASSIS_NO.rsplit('    ')[1],
        "ElecAccessories":"",
        "NonElecAccs":"",
        "Cng":"",
        "CarrierType":"",
        "CngLpgKit":"",
        "EngineNo":ENGINE_NO.rsplit('    ')[1],
        "Mfg.Year":MFG_YEAR.rsplit('    ')[1],
        "VehicleIdv":"",
        "HypothecationLeaseHp":"",
        "Gvw":""
        },
        "BasicPremium":{
        "BasicOwnDamage":"",
        "NonElecAccessories":"",
        "Imt23LoadingPremium":"",
        "Imt34LoadingPremium":"",
        "ElecAccessories":"",
        "CngLpgKit":"",
        "GeographicalExtension":"",
        "SubTotalBasicPremium":""
        },
        "Deductibles":{
        "AntitheftDiscount":"",
        "AaMembershipDiscount":"",
        "NoClaimBonus":"",
        "SubTotalDeductibles":"",
        "NetOdPermium":"",
        "NetOdPremiumGst":"",
        "NetOdPremiumWithGst":""
        },
        "Addons":{
           "ZeroDepreciation":"",
           "ReturnToInvoice":""
        },
        "LiabilityPremium":{
        "BasicThirdPartyLiability":"",
        "Imt34TpPremium":"",
        "ThirdPartyLiabilityForBiFuelKit":"",
        "BasicTpCngTpTrailorTp":"",
        "BasicTpCngTpTrailorTpGst":"",
        "PaCoverOwnerDriver":"",
        "PaCoverForUnnamedPersons":"",
        "LegalLiabilityPaidDriver":"",
        "PaCoverCleanerConductorCoolie":"",
        "GeographicalAreasExtension":"",
        "TpOther":"",
        "TpOtherWithGst":"",
        "TotalTpPremium":"",
        "TotalTpPremiumWith":"",
        "TotalPremium":"",
        "TotalPremiumPayable":""   
        }
    }
        

      return jsonify({"PDF_DATA":data})	
		
if __name__ == '__main__':
   app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Dec/2021 12:35:31] "GET / HTTP/1.1" 200 -
Got stderr: Dec 09, 2021 12:35:45 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:35:47 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT
Dec 09, 2021 12:35:48 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font ArialMT
Dec 09, 2021 12:35:48 PM org.apache.pdfbox.rendering.TTFGlyph2D getPathForGID
WARNING: No glyph for 9 in font ArialMT

127.0.0.1 - - [09/Dec/2021 12:35:50] "POST /uploader HTTP/1.1" 200 -

### TATA AIG

In [12]:
df=tabula.read_pdf(r"D:\202003240085008_27032020065638 (1).pdf",pages='3', lattice=True, pandas_options={'header':None})
df

[                                                    0  \
 0   Certificate Of Insurance and Policy Schedule F...
 1        Agent Name: NAVNIT INSURANCE BROKING PVT LTD
 2   Agent License Code: 431;Agent Contact No.: 704...
 3                              Policy No.: 3100292174
 4                            Alternate Policy Number:
 5                           Name & Address of Insured
 6   Name :  M/S INGENIUS TECHNOLOGIES PVT LTD\rAdd...
 7                                RTO Location: MUMBAI
 8                                    Registratio\rNo.
 9                                    MH  02  DW\r5455
 10                       Insured Declared Value (IDV)
 11                                               Year
 12                                                  1

                                                     1  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                          Policy Code: 00/00/3184/02
 4                                                 NaN
 5                                 Period of Insurance
 6   (Section  I Own Damage) From 00:00 Hours on 3...
 7                                            Zone : A
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                     IDV of Vehicle
 12                                            1842187

                                                     2  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                        Policy Type:
 4                                       Covernote No:
 5                                                 NaN
 6                                                 NaN
 7                           Geographical Area : India
 8                               Make/Model/Body\rType
 9   MERCEDESBENZ/GLA\rCLASS / GLA 200 CDI\rSPORT/...
 10                                                NaN
 11                        NonElectrical\rAccessories
 12                                                  0

                                                    3                     4  \
 0                                                NaN                   NaN
 1                                                NaN                   NaN
 2                                                NaN                   NaN
 3           Auto Secure  Private Car Package Policy                   NaN
 4                           Covernote Issuance Date:                   NaN
 5                                                NaN                   NaN
 6                                                NaN                   NaN
 7   Hire Purchase / Hypothecation /\rLease With: N/A                   NaN
 8                                         Engine No.           Chassis No.
 9                                             537503     WDC1569082J076048
 10                                               NaN                   NaN
 11              Electrical / Electronic\rAccessories  BiFuel/CNG/LPG\rKit
 12                                                 0                     0

             5        6                                        7  \
 0         NaN      NaN                                      NaN
 1         NaN      NaN                                      NaN
 2         NaN      NaN                                      NaN
 3         NaN      NaN                                      NaN
 4         NaN      NaN                                      NaN
 5         NaN      NaN                                      NaN
 6         NaN      NaN                                      NaN
 7         NaN      NaN                                      NaN
 8   Mfg. Year    CC/KW  Trailer Registration No. /\rChassis No.
 9        2014     2143                                      NaN
 10        NaN      NaN                                      NaN
 11        NaN  Trailer                                 Side car
 12        NaN        0                                        0

                                                 8
 0                                             NaN
 1                                             NaN
 2                                             NaN
 3                                             NaN
 4                                             NaN
 5                                             NaN
 6                                             NaN
 7                                             NaN
 8   Licensed carrying\rCapacity including\rdriver
 9                                               5
 10                                            NaN
 11                                      Total IDV
 12                                        1842187  ,
                                                    0  \
 0                         Section  I OWN DAMAGE (A)
 1  Own Damage Premium on Vehicle & Accessories\rB...
 2  Drivers Clause: Persons or classes of persons ...
 3  Limitations as to Use: The Policy covers use o...
 4                                LIMITS OF LIABILITY

                                                    1
 0                         Section  II LIABILITY (B)
 1  Third Party Premium\rBasic TP premium7,890.00\...
 2                                                NaN
 3                                                NaN
 4                                                NaN  ]

In [13]:
df[0]

,0,1,2,3,4,5,6,7,8
0,Certificate Of Insurance and Policy Schedule F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Agent Name: NAVNIT INSURANCE BROKING PVT LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agent License Code: 431;Agent Contact No.: 704...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Policy No.: 3100292174,Policy Code: 00/00/3184/02,Policy Type:,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN
4,Alternate Policy Number:,NaN,Covernote No:,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN
5,Name & Address of Insured,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Name : M/S INGENIUS TECHNOLOGIES PVT LTD\rAdd...,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,RTO Location: MUMBAI,Zone : A,Geographical Area : India,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN
8,Registratio\rNo.,NaN,Make/Model/Body\rType,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver
9,MH 02 DW\r5455,NaN,MERCEDESBENZ/GLA\rCLASS / GLA 200 CDI\rSPORT/...,537503,WDC1569082J076048,2014,2143,NaN,5
10,Insured Declared Value (IDV),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Year,IDV of Vehicle,NonElectrical\rAccessories,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV
12,1,1842187,0,0,0,NaN,0,0,1842187

In [14]:
# new data frame with split value columns
new = df[0][0].str.split(":", n = 1, expand = True)
  
# making separate first name column from new data frame
df[0][9]= new[0]
  
# making separate last name column from new data frame
df[0][10]= new[1]
  
# # Dropping old Name columns
df[0].drop(columns =[0], inplace = True)
  
# df display
df[0]

,1,2,3,4,5,6,7,8,9,10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certificate Of Insurance and Policy Schedule F...,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent Name,NAVNIT INSURANCE BROKING PVT LTD
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent License Code,431;Agent Contact No.: 7045793695
3,Policy Code: 00/00/3184/02,Policy Type:,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN,Policy No.,3100292174
4,NaN,Covernote No:,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN,Alternate Policy Number,
5,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Name & Address of Insured,None
6,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Name,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...
7,Zone : A,Geographical Area : India,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN,RTO Location,MUMBAI
8,NaN,Make/Model/Body\rType,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver,Registratio\rNo.,None
9,NaN,MERCEDESBENZ/GLA\rCLASS / GLA 200 CDI\rSPORT/...,537503,WDC1569082J076048,2014,2143,NaN,5,MH 02 DW\r5455,None
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),None
11,IDV of Vehicle,NonElectrical\rAccessories,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV,Year,None
12,1842187,0,0,0,NaN,0,0,1842187,1,None

In [15]:
# new data frame with split value columns
new = df[0][2].str.split("/", n = 1, expand = True)
  
# making separate first name column from new data frame
df[0][11]= new[0]
  
# making separate last name column from new data frame
df[0][12]= new[1]
  
# # Dropping old Name columns
df[0].drop(columns =[2], inplace = True)
  
# df display
df[0]

,1,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certificate Of Insurance and Policy Schedule F...,None,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent Name,NAVNIT INSURANCE BROKING PVT LTD,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent License Code,431;Agent Contact No.: 7045793695,NaN,NaN
3,Policy Code: 00/00/3184/02,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN,Policy No.,3100292174,Policy Type:,None
4,NaN,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN,Alternate Policy Number,,Covernote No:,None
5,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,Name & Address of Insured,None,NaN,NaN
6,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,Name,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...,NaN,NaN
7,Zone : A,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN,RTO Location,MUMBAI,Geographical Area : India,None
8,NaN,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver,Registratio\rNo.,None,Make,Model/Body\rType
9,NaN,537503,WDC1569082J076048,2014,2143,NaN,5,MH 02 DW\r5455,None,MERCEDESBENZ,GLA\rCLASS / GLA 200 CDI\rSPORT/\rSUV
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),None,NaN,NaN
11,IDV of Vehicle,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV,Year,None,NonElectrical\rAccessories,None
12,1842187,0,0,NaN,0,0,1842187,1,None,0,None

In [16]:
# new data frame with split value columns
new = df[0][12].str.split("/", n = 1, expand = True)
  
# making separate first name column from new data frame
df[0][13]= new[0]
  
# making separate last name column from new data frame
df[0][14]= new[1]
  
# # Dropping old Name columns
df[0].drop(columns =[12], inplace = True)
  
# df display
df[0]

,1,3,4,5,6,7,8,9,10,11,13,14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certificate Of Insurance and Policy Schedule F...,None,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent Name,NAVNIT INSURANCE BROKING PVT LTD,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent License Code,431;Agent Contact No.: 7045793695,NaN,NaN,NaN
3,Policy Code: 00/00/3184/02,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN,Policy No.,3100292174,Policy Type:,None,None
4,NaN,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN,Alternate Policy Number,,Covernote No:,None,None
5,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,Name & Address of Insured,None,NaN,NaN,NaN
6,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,Name,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...,NaN,NaN,NaN
7,Zone : A,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN,RTO Location,MUMBAI,Geographical Area : India,None,None
8,NaN,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver,Registratio\rNo.,None,Make,Model,Body\rType
9,NaN,537503,WDC1569082J076048,2014,2143,NaN,5,MH 02 DW\r5455,None,MERCEDESBENZ,GLA\rCLASS,GLA 200 CDI\rSPORT/\rSUV
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),None,NaN,NaN,NaN
11,IDV of Vehicle,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV,Year,None,NonElectrical\rAccessories,None,None
12,1842187,0,0,NaN,0,0,1842187,1,None,0,None,None

In [17]:
# new data frame with split value columns
new = df[0][14].str.split("\r", n = 1, expand = True)
  
# making separate first name column from new data frame
df[0][15]= new[0]
  
# making separate last name column from new data frame
df[0][16]= new[1]
  
# # Dropping old Name columns
df[0].drop(columns =[14], inplace = True)
  
# df display
df[0]

,1,3,4,5,6,7,8,9,10,11,13,15,16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certificate Of Insurance and Policy Schedule F...,None,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent Name,NAVNIT INSURANCE BROKING PVT LTD,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent License Code,431;Agent Contact No.: 7045793695,NaN,NaN,NaN,NaN
3,Policy Code: 00/00/3184/02,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN,Policy No.,3100292174,Policy Type:,None,None,None
4,NaN,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN,Alternate Policy Number,,Covernote No:,None,None,None
5,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,Name & Address of Insured,None,NaN,NaN,NaN,NaN
6,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,Name,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...,NaN,NaN,NaN,NaN
7,Zone : A,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN,RTO Location,MUMBAI,Geographical Area : India,None,None,None
8,NaN,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver,Registratio\rNo.,None,Make,Model,Body,Type
9,NaN,537503,WDC1569082J076048,2014,2143,NaN,5,MH 02 DW\r5455,None,MERCEDESBENZ,GLA\rCLASS,GLA 200 CDI,SPORT/\rSUV
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),None,NaN,NaN,NaN,NaN
11,IDV of Vehicle,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV,Year,None,NonElectrical\rAccessories,None,None,None
12,1842187,0,0,NaN,0,0,1842187,1,None,0,None,None,None

In [18]:
df1=df[0]
df1.columns =['col1','col3','col4','col5','col6','col7','col8','col9','col10','col11','col13','col15','col16']
df1['col17'] = df1['col10'].shift(-1)
df1['col18'] = df1['col3'].shift(-1)
df1['col19'] = df1['col4'].shift(-1)
df1['col20'] = df1['col5'].shift(-1)
df1['col21'] = df1['col6'].shift(-1)
df1['col22'] = df1['col9'].shift(-1)
df1['col23'] = df1['col11'].shift(-1)
df1['col24'] = df1['col13'].shift(-1)
df1['col25'] = df1['col15'].shift(-1)
df1

,col1,col3,col4,col5,col6,col7,col8,col9,col10,col11,...,col16,col17,col18,col19,col20,col21,col22,col23,col24,col25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Certificate Of Insurance and Policy Schedule F...,None,NaN,...,NaN,NAVNIT INSURANCE BROKING PVT LTD,NaN,NaN,NaN,NaN,Agent Name,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent Name,NAVNIT INSURANCE BROKING PVT LTD,NaN,...,NaN,431;Agent Contact No.: 7045793695,NaN,NaN,NaN,NaN,Agent License Code,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agent License Code,431;Agent Contact No.: 7045793695,NaN,...,NaN,3100292174,Auto Secure Private Car Package Policy,NaN,NaN,NaN,Policy No.,Policy Type:,None,None
3,Policy Code: 00/00/3184/02,Auto Secure Private Car Package Policy,NaN,NaN,NaN,NaN,NaN,Policy No.,3100292174,Policy Type:,...,None,,Covernote Issuance Date:,NaN,NaN,NaN,Alternate Policy Number,Covernote No:,None,None
4,NaN,Covernote Issuance Date:,NaN,NaN,NaN,NaN,NaN,Alternate Policy Number,,Covernote No:,...,None,None,NaN,NaN,NaN,NaN,Name & Address of Insured,NaN,NaN,NaN
5,Period of Insurance,NaN,NaN,NaN,NaN,NaN,NaN,Name & Address of Insured,None,NaN,...,NaN,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...,NaN,NaN,NaN,NaN,Name,NaN,NaN,NaN
6,(Section I Own Damage) From 00:00 Hours on 3...,NaN,NaN,NaN,NaN,NaN,NaN,Name,M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...,NaN,...,NaN,MUMBAI,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,RTO Location,Geographical Area : India,None,None
7,Zone : A,Hire Purchase / Hypothecation /\rLease With: N/A,NaN,NaN,NaN,NaN,NaN,RTO Location,MUMBAI,Geographical Area : India,...,None,None,Engine No.,Chassis No.,Mfg. Year,CC/KW,Registratio\rNo.,Make,Model,Body
8,NaN,Engine No.,Chassis No.,Mfg. Year,CC/KW,Trailer Registration No. /\rChassis No.,Licensed carrying\rCapacity including\rdriver,Registratio\rNo.,None,Make,...,Type,None,537503,WDC1569082J076048,2014,2143,MH 02 DW\r5455,MERCEDESBENZ,GLA\rCLASS,GLA 200 CDI
9,NaN,537503,WDC1569082J076048,2014,2143,NaN,5,MH 02 DW\r5455,None,MERCEDESBENZ,...,SPORT/\rSUV,None,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insured Declared Value (IDV),None,NaN,...,NaN,None,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Year,NonElectrical\rAccessories,None,None
11,IDV of Vehicle,Electrical / Electronic\rAccessories,BiFuel/CNG/LPG\rKit,NaN,Trailer,Side car,Total IDV,Year,None,NonElectrical\rAccessories,...,None,None,0,0,NaN,0,1,0,None,None
12,1842187,0,0,NaN,0,0,1842187,1,None,0,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
INSURED_NAME = df1.loc[df1['col9']=="Name & Address of Insured",'col17'].to_string()
#INSURED_ADDRESS = df1.loc[df1['col9']=="Name & Address of Insured","col17"].to_string()
POLICY_NUMBER = df1.loc[df1['col9']=="Policy No.","col10"].to_string()
# # POLICY_ISSUED_ON = df1.loc[df1['col1']=="POLICY ISSUED ON","col2"].to_string()
# # PERIOD_OF_INSURANCE = df1.loc[df1['col3']=="PERIOD OF INSURANCE","col4"].to_string()
# # PRODUCT_NAME = df1.loc[df1['col1']=="PRODUCT NAME","col2"].to_string()
make = df1.loc[df1['col11']=="Make","col23"].to_string()
model = df1.loc[df1['col13']=="Model","col24"].to_string()
# # varient= df1.loc[df1['col3']=="VARIANT","col11"].to_string()
BODY_TYPE= df1.loc[df1['col15']=="Body","col25"].to_string()
ENGINE_NO = df1.loc[df1['col3']=="Engine No.","col18"].to_string()
CHASSIS_NO = df1.loc[df1['col4']=="Chassis No.","col19"].to_string()
CUBIC_CAPACITY = df1.loc[df1['col6']=="CC/KW","col21"].to_string()
REGISTRATION_NO=df1.loc[df1['col9']=="Registratio\rNo.","col22"].to_string()
# # SEATING_CAPACITY = df1.loc[df1['col6']=="SEATING CAPACITY","col9"].to_string()
MFG_YEAR = df1.loc[df1['col5']=="Mfg. Year","col20"].to_string()

In [34]:
print("INSURED_NAME",INSURED_NAME)
print("Policy No.",POLICY_NUMBER)
print("Make",make)
print("Engine No.",ENGINE_NO)
print("Chassis No.",CHASSIS_NO)
print("CC/KW", CUBIC_CAPACITY)
print("Mfg. Year",MFG_YEAR)
print("REGISTRATION_NO",REGISTRATION_NO)
print("model",model)
print("Body",BODY_TYPE)

INSURED_NAME 5      M/S INGENIUS TECHNOLOGIES PVT LTD\rAddress :...
Policy No. 3     3100292174
Make 8    MERCEDESBENZ
Engine No. 8    537503
Chassis No. 8    WDC1569082J076048
CC/KW 8    2143
Mfg. Year 8    2014
REGISTRATION_NO 8    MH  02  DW\r5455
model 8    GLA\rCLASS
Body 8     GLA 200 CDI

### Reliance

In [11]:
df=tabula.read_pdf(r"D:\pdf\2311203106694900000.pdf",pages='2', lattice=False, pandas_options={'header':None})
df

[                                                    0  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                 2311203106694900000
 6                                                 NaN
 7                          MR SHAROUKH MEHERWAN IRANI
 8       5 303 FIROZGAR BEHRAM BAUG PARSEE COLONY NEAR
 9       GANDHI SCHOOL OSHIWARA JOGESHWARI WEST MUMBAI
 10                                    MUMBAI - 400102
 11                     MAHARASHTRA -  Tel. 9619471144
 12                                                NaN
 13      Policy Year Policy Period For the Vehicle (`)
 14       Year 1 From 22/11/2019 To 21/11/2020 1283327
 15                                                NaN
 16              From Date & Time 22/11/2019 00:01 hrs
 17                                                NaN
 18                              Own Damage Premium(a)
 19                                   Basic Own Damage
 20                                Total Basic Premium
 21                         Less: No Claim Bonus (20%)
 22                                       Total - Less
 23                                   Add on Coverages
 24         Zero Depreciation (IRDAN125A0021V01201415)
 25                                     Total - Add on
 26                         Net Own Damage Premium (a)
 27                           Geographical Area  India
 28                                                NaN
 29  Cheque / DD / Fund Transfer No. Cheque No. 300338
 30               Previous Policy No. 0146817729 Valid
 31  Policy Holder declare that no claim has been m...
 32  Compulsory PA cover for owner driver has not b...
 33                            insured of Rs 15 Lakhs.
 34  Hypothecated(IMT-7) with:ABHUDAYA CO -OP BANK ...

                                                     1  \
 0                                                 NaN
 1                                                Make
 2                                               Model
 3                                     Registration No
 4                                                 RTO
 5                                                 NaN
 6                                         Chassis No.
 7                                      Cubic Capacity
 8                                                 NaN
 9                                 Year of Manufacture
 10                                         Engine No.
 11                                                NaN
 12                                           Email ID
 13                                        Trailer (`)
 14                                                  0
 15                           Own Damage Policy Period
 16                                                NaN
 17                                    Premium Details
 18                           (`) Liability Premium(b)
 19                          17659 Total Premium (a+b)
 20  17659 GST 18% : Central Tax 9% ( `1733.5 ) + S...
 21                                               3532
 22                                               3532
 23                                                NaN
 24                                               5133
 25                                               5133
 26                                19260 Total Premium
 27                     Compulsory Deductible (IMT-22)
 28                                    Payment Details
 29                                            Dated :
 30  22/11/2018 to 21/11/2019 of TATA AIG GENERAL I...
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN

                                                     2  \
 0                                     Vehicle Details
 1               HYUNDAI MOTOR INDIA LTD. Proposal No.
 2                      CRETA-1.6 SX AT CRDI Period of
 3                             MH-02-EZ-5783 Insurance
 4                                MUMBAI Issuance Date
 5                                                 NaN
 6                       MALC381UMJM494637 Invoice No.
 7                                        1582 Seats 5
 8                                                 NaN
 9         2018 Body Type SUV Customer Id:101167152368
 10                                       D4FBJM703096
 11                                                NaN
 12                            SHAKI.IRANI64@GMAIL.COM
 13  Non Electrical Acc. (`) Electrical Acc. (`) CN...
 14                                                0 0
 15                                                NaN
 16                                     To Date & Time
 17                                                (`)
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27               2,000 Voluntary Deductible (IMT-22A)
 28                                                (`)
 29       07/11/2019 Drawn on Abhyudaya Co-Op Bank Ltd
 30                                                NaN
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN

                               3     4
 0                Policy Details   NaN
 1       2311 2031 0669 4900 000   NaN
 2   From 22 Nov, 2019 00:01 hrs   NaN
 3         To 21 Nov, 2020 23:59   NaN
 4                   08 Nov 2019   NaN
 5                           NaN   NaN
 6               203106694900000   NaN
 7                           NaN   NaN
 8                           NaN   NaN
 9                           NaN   NaN
 10                          NaN   NaN
 11                          NaN   NaN
 12                          NaN   NaN
 13                Total IDV (`)   NaN
 14                    0 1283327   NaN
 15                          NaN   NaN
 16          21/11/2020 Midnight   NaN
 17                          NaN   NaN
 18                          NaN   (`)
 19                        19260   NaN
 20                          NaN  3467
 21                          NaN   NaN
 22                          NaN   NaN
 23                          NaN   NaN
 24                          NaN   NaN
 25                          NaN   NaN
 26                        22727   NaN
 27                            0   NaN
 28                          NaN   NaN
 29                          NaN   NaN
 30                          NCB    0%
 31                          NaN   NaN
 32                          NaN   NaN
 33                          NaN   NaN
 34                          NaN   NaN  ,
                                                    0   \
 0                                                 NaN
 1                                      Prohibition of
 2                    continue an insurance in respect
 3                                   person taking out
 4                                  insurance agent of
 5   at the time of such acceptance the insurance a...
 6   2. Any person making default in complying with...
 7                                                 NaN
 8   I hereby declare that the Insured Person(s) li...
 9   1 ) I/We hereby declare that the statements ma...
 10      HDFC ERGO General Insurance Company Limited .
 11  2) I/We also declare that, if any additions or...
 12  3) I understand that: My premium is derived on...
 13  HDFC ERGO General Insurance Company (Company) ...
 14                                  The Company shall
 15  or other documents are incorrect and / or untr...
 16                   I f any discrepancy found in the
 17                         date of communication. I f
 18  the policy which shall be deducted from the fi...
 19  4) I/We also shall endeavor to procure the ren...
 20   5 ) Any person who, knowingly and with intent to
 21  information concerning any fact material there...
 22  GSTIN :- Motor(Comprehensive and TP):For polic...
 23  issuance. For any subsequent changes or additi...
 24  6) I / we declare and confirm having a valid PUC.
 25  7) I understand the Proposal No. 2019110800269...
 26                             Transcript Declaration
 27                          changes / disagreement to
 28                                        the policy.

                                                    1    2   \
 0                                                 NaN  NaN
 1                                    Rebates (Section  NaN
 2                                                 NaN   of
 3   or renewing or continuing a policy accept any ...  NaN
 4   commission in connection with a policy of life...  NaN
 5                                                 NaN  NaN
 6                                                 NaN  NaN
 7                                                 NaN  NaN
 8                                                 NaN  NaN
 9                                                 NaN  NaN
 10                                                NaN  NaN
 11                                                NaN  NaN
 12                                                NaN  NaN
 13                                                NaN  NaN
 14  have no liability under this insurance contrac...  NaN
 15                                                NaN  NaN
 16  information provided for arriving at NCB disco...  NaN
 17  the balance amount is not paid by me within 20...  NaN
 18                                                NaN  NaN
 19                                                NaN  NaN
 20                                                NaN  NaN
 21                                                NaN  NaN
 22                                                NaN  NaN
 23                                                NaN  NaN
 24                                                NaN  NaN
 25                                                NaN  NaN
 26  : In case disagreement or objection or any oth...  NaN
 27                                        the content  NaN
 28                                                NaN  NaN

                                                    3   \
 0                                                 NaN
 1                                     41 of Insurance
 2                                         any kind of
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27  of this transcript or you may also send us ema...
 28                                                NaN

                                                    4     5   \
 0                                                 NaN   NaN
 1                                                 NaN  Act,
 2   risk relating to lives or property in India, a...   NaN
 3                                                 NaN   NaN
 4                                                 NaN   NaN
 5                                                 NaN   NaN
 6                                                 NaN   NaN
 7                                                 NaN   NaN
 8                                                 NaN   NaN
 9                                                 NaN   NaN
 10                                                NaN   NaN
 11                                                NaN   NaN
 12                                                NaN   NaN
 13                                                NaN   NaN
 14                                                NaN   NaN
 15                                                NaN   NaN
 16                                                NaN   NaN
 17                                                NaN   NaN
 18                                                NaN   NaN
 19                                                NaN   NaN
 20                                        defraud the   NaN
 21                                                NaN   NaN
 22                                                NaN   NaN
 23                                                NaN   NaN
 24                                                NaN   NaN
 25                                                NaN   NaN
 26                                                NaN   NaN
 27                                                NaN   NaN
 28                                                NaN   NaN

                                               6    7    8   \
 0                                            NaN  NaN  NaN
 1                               1938 as amended)    :  1.0
 2                                            NaN  NaN  NaN
 3                                            NaN  NaN  NaN
 4                                            NaN  NaN  NaN
 5                                            NaN  NaN  NaN
 6                                            NaN  NaN  NaN
 7                                            NaN  NaN  NaN
 8                                            NaN  NaN  NaN
 9                                            NaN  NaN  NaN
 10                                           NaN  NaN  NaN
 11                                           NaN  NaN  NaN
 12                                           NaN  NaN  NaN
 13                                           NaN  NaN  NaN
 14                                           NaN  NaN  NaN
 15                                           NaN  NaN  NaN
 16                                           NaN  NaN  NaN
 17                                           NaN  NaN  NaN
 18                                           NaN  NaN  NaN
 19                                           NaN  NaN  NaN
 20  Insurance Company o r other persons, files a  NaN  NaN
 21                                           NaN  NaN  NaN
 22                                           NaN  NaN  NaN
 23                                           NaN  NaN  NaN
 24                                           NaN  NaN  NaN
 25                                           NaN  NaN  NaN
 26                                           NaN  NaN  NaN
 27                                           NaN  NaN  NaN
 28                                           NaN  NaN  NaN

                                     9   \
 0                   Anti rebate clause
 1   No person shall allow o r offer to
 2                                  NaN
 3                                  NaN
 4                                  NaN
 5                                  NaN
 6                                  NaN
 7                 Terms and Conditions
 8                                  NaN
 9                                  NaN
 10                                 NaN
 11                                 NaN
 12                                 NaN
 13                                 NaN
 14                                 NaN
 15                                 NaN
 16                                 NaN
 17                                 NaN
 18                                 NaN
 19                                 NaN
 20                        proposal for
 21                                 NaN
 22                                 NaN
 23                                 NaN
 24                                 NaN
 25                                 NaN
 26                                 NaN
 27                                 NaN
 28                                 NaN

                                                    10
 0                                                 NaN
 1   allow, either directly or indirectly, as an in...
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20  insurance containing any false information, o ...
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN  ]

In [12]:
df[0]

,0,1,2,3,4
0,NaN,NaN,Vehicle Details,Policy Details,NaN
1,NaN,Make,HYUNDAI MOTOR INDIA LTD. Proposal No.,2311 2031 0669 4900 000,NaN
2,NaN,Model,CRETA-1.6 SX AT CRDI Period of,"From 22 Nov, 2019 00:01 hrs",NaN
3,NaN,Registration No,MH-02-EZ-5783 Insurance,"To 21 Nov, 2020 23:59",NaN
4,NaN,RTO,MUMBAI Issuance Date,08 Nov 2019,NaN
5,2311203106694900000,NaN,NaN,NaN,NaN
6,NaN,Chassis No.,MALC381UMJM494637 Invoice No.,203106694900000,NaN
7,MR SHAROUKH MEHERWAN IRANI,Cubic Capacity,1582 Seats 5,NaN,NaN
8,5 303 FIROZGAR BEHRAM BAUG PARSEE COLONY NEAR,NaN,NaN,NaN,NaN
9,GANDHI SCHOOL OSHIWARA JOGESHWARI WEST MUMBAI,Year of Manufacture,2018 Body Type SUV Customer Id:101167152368,NaN,NaN
10,MUMBAI - 400102,Engine No.,D4FBJM703096,NaN,NaN
11,MAHARASHTRA - Tel. 9619471144,NaN,NaN,NaN,NaN
12,NaN,Email ID,SHAKI.IRANI64@GMAIL.COM,NaN,NaN
13,Policy Year Policy Period For the Vehicle (`),Trailer (`),Non Electrical Acc. (`) Electrical Acc. (`) CN...,Total IDV (`),NaN
14,Year 1 From 22/11/2019 To 21/11/2020 1283327,0,0 0,0 1283327,NaN
15,NaN,Own Damage Policy Period,NaN,NaN,NaN
16,From Date & Time 22/11/2019 00:01 hrs,NaN,To Date & Time,21/11/2020 Midnight,NaN
17,NaN,Premium Details,(`),NaN,NaN
18,Own Damage Premium(a),(`) Liability Premium(b),NaN,NaN,(`)
19,Basic Own Damage,17659 Total Premium (a+b),NaN,19260,NaN
20,Total Basic Premium,17659 GST 18% : Central Tax 9% ( `1733.5 ) + S...,NaN,NaN,3467
21,Less: No Claim Bonus (20%),3532,NaN,NaN,NaN
22,Total - Less,3532,NaN,NaN,NaN
23,Add on Coverages,NaN,NaN,NaN,NaN
24,Zero Depreciation (IRDAN125A0021V01201415),5133,NaN,NaN,NaN
25,Total - Add on,5133,NaN,NaN,NaN
26,Net Own Damage Premium (a),19260 Total Premium,NaN,22727,NaN
27,Geographical Area India,Compulsory Deductible (IMT-22),"2,000 Voluntary Deductible (IMT-22A)",0,NaN
28,NaN,Payment Details,(`),NaN,NaN
29,Cheque / DD / Fund Transfer No. Cheque No. 300338,Dated :,07/11/2019 Drawn on Abhyudaya Co-Op Bank Ltd,NaN,NaN
30,Previous Policy No. 0146817729 Valid,22/11/2018 to 21/11/2019 of TATA AIG GENERAL I...,NaN,NCB,0%
31,Policy Holder declare that no claim has been m...,NaN,NaN,NaN,NaN
32,Compulsory PA cover for owner driver has not b...,NaN,NaN,NaN,NaN
33,insured of Rs 15 Lakhs.,NaN,NaN,NaN,NaN
34,Hypothecated(IMT-7) with:ABHUDAYA CO -OP BANK ...,NaN,NaN,NaN,NaN

In [2]:
#!pip install camelot-py[cv]

In [62]:
tables= camelot.read_pdf("D:/pdf/2311203307518500.pdf",pages='1',flavor='stream',suppress_stdout=True)

In [63]:
tables

In [65]:
df =tables[0].df
df

,0,1,2,3,4,5,6
0,,2311203307518500000,,,,,
1,,,,Vehicle Details,,,Policy Details
2,,,Make,MARUTI,,Policy No.,2311 2033 0751 8500 000
3,,,Model,SWIFT DZIRE-VDI,,Period of,"From 19 Feb, 2020 17:25 hrs"
4,,,Registration No,WB-08-A-2998,,Insurance,"To 18 Feb, 2021 23:59"
5,,,RTO,KOLKATA,,Issuance Date,19/02/2020
6,MR SUDAN GOPE,,,,,,
7,"2NO ANANDANAGAR, KULIA P CHAKDAH, NADIA NADIA ...",,Chassis No.,00677979*AF,,Invoice No.,203307518500000
8,WEST BENGAL - 741245 Tel. 9748935986,,Cubic Capacity /Watts,1248\nSeats,5,Customer Id,102134095276
9,,,Year of Manufacture,2015\nBody Type,SEDAN,,
10,,,Engine No.,A2521481,,EIA No.,Not provided
11,,,,"Payment Details : 1029324651 , Bank Name:HDFC...",,,
12,,,,Email ID : sudan.gope79@gmail.com,,,
13,Policy Year,Policy Period,For the Vehicle (`)\nTrailer (`),,Non Electrical Acc. (`),Electrical Acc. \n(`),CNG/LPG Kit (`)\nTotal IDV (`)

In [9]:
df.insert(0, "address",['Delhi', 'Jai', 'Bangalore' ,'Princi','a','policy no','b','Insured Name','d','e','f','g','h','i','j','k'], True)

ValueError: Length of values (16) does not match length of index (15)

In [28]:
df

,address,0,1,2,3,4,5
0,Delhi,,,,Vehicle Details,,Proposal Details
1,Jai,,,Make,TOYOTA KIRLOSKAR,Proposal No.,202004120007217
2,Bangalore,,,Model,INNOVA CRYSTA-2.8 Z 7 STR,Period of,"From 13 Apr, 2020 00:01 hrs"
3,Princi,,,Registration No,DL-07-SK-0010,Insurance,"To 12 Apr, 2021 23:59"
4,a,,,RTO,DELHI,Issuance Date,12 Apr 2020
5,policy no,2311203376133300000,,,,,
6,b,,,Chassis No.,100769159,Invoice No.,203376133300000
7,Insured Name,M/S UNICEL AUTOTECH,,,,,
8,d,,,Cubic Capacity,2755\nSeats\n7,Customer Id,102010256053
9,e,PLOT NO 4 GALI NO 1 SARASWATI ENCLAVE MAIN PAT...,,,,,
10,f,ROAD NEAR RAHUL CEMENT STORE GURGAON GURGAON -,,Year of Manufacture,2017\nBody Type\nMUV,,
11,g,122001,,Engine No.,1GDA086064,,
12,h,HARYANA - Tel. 9811416101,,,,,
13,i,,,,"Payment Details : PMT6169751735 , Bank Name:B...",,
14,j,,,,Email ID : sushilbansal1966@yahoo.com ...,,
15,k,Policy Year,Policy Period,For the Vehicle (`)\nTrailer (`),Non Electrical Acc. (`),Electrical Acc. \n(`),CNG/LPG Kit (`)\nTotal IDV (`)